.brown-block {
  background-color: #A6806B;
  min-width: 165px;
}

@media screen and (max-width: 1200px){
  .brown-block {
    grid-row: 3/4;
    grid-column: 3/4;
  }
}

@media screen and (max-width: 992px){
  .brown-block {
    grid-row: 3/4;
    grid-column: 3/5;
    
  }
}