.coffee-cap {
  grid-column: 2/3;
}

.coffee-cap__image {
  display: block;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 1280px) {
  .coffee-cap {
    grid-row: 3/4;
  }
}

@media screen and (max-width: 768px) {
  .coffee-cap {
    grid-row: 4/5;
    grid-column: 1/2;
  }
}

@media screen and (max-width: 320px) {
  .coffee-cap {
    max-height: 280px;
    grid-row: 5;
    grid-column: 1;
  }
}
