.empty-room {
  grid-row: 2/4;
}

.empty-room__image {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media screen and (max-width: 992px) {
  .empty-room {
    min-width: 190px;
    grid-column: 2/3;
    grid-row: 4/5;
  }
}

@media screen and (max-width: 768px) {
  .empty-room {
    min-width: 0;
    grid-column: 1/2;
    grid-row: 6/7;
  }
}

@media screen and (max-width: 320px) {
  .empty-room {
    grid-row: 10;
    grid-column: 1;
  }
}
