.girl-with-wall {
  grid-row: 1;
  grid-column: 4/5;
}

.girl-with-wall img {
  min-width: 226px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media screen and (max-width: 992px){
  .girl-with-wall {
    grid-row: 4/5;
    grid-column: 1/2;

  }

  .girl-with-wall img {
    min-width: 0;
  }
}

@media screen and (max-width: 768px){
  .girl-with-wall {
    grid-row: 6/7;
    grid-column: 2/3;

  }

  .girl-with-wall img {
    min-width: 0;
    object-fit: cover;
  }
}

