.empty-room {
  grid-row: 2/4;
}

.empty-room img {
  display: block;
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 1200px){
  .empty-room {
    max-height: 440px;
  }
}

@media screen and (max-width: 992px){
  .empty-room {
    max-height: none;
    min-width: 190px;
    grid-column: 2/3;
    grid-row: 4/5;
  }
}