.photos {
  max-width: 1536px;
  display: grid;
  /* grid-template-columns: minmax(auto, 458px) repeat(4, 1fr); */
  grid-template-columns: repeat(auto-fill, minmax(auto, 1fr));
  grid-template-rows: minmax(auto, 288px) minmax(auto, 188px) minmax(auto, 247px);
  /* grid-auto-flow: dense; */
  /* grid-template-columns: 1fr ; */
  font-size: 0;
}

picture {
  display: block;
}

img {
  display: block;
  object-fit: cover;
}

@media screen and (max-width: 1200px){
  .photos {
    grid-template-rows: repeat(3, minmax(auto, max-content));
    /* grid-template-rows: repeat(auto-fit, auto) */
  }
}

@media screen and (max-width: 768px){
  .photos {
    grid-template-columns: repeat(2, auto);
  }
}

@media screen and (max-width: 320px){
  .photos {
    grid-template-columns: repeat(1, 1fr);
  }
}
